@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --background-color: #599bb0;
  --color: #fefefe;
  --a-color: #000000;
  --spacing: 20px;
  --font-one: "Roboto", sans-serif;
  --font-two: "Kanit", sans-serif;
  --font-three: "Chivo", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  background-image: url("https://www.transparenttextures.com/patterns/beige-paper.png");
  font-family: var(--font-three);
  color: var(--color);
}

h1 {
  font-weight: 900;
  font-style: italic;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  color: var(--a-color);
  text-transform: lowercase;
}

/*HEADER*/

header {
  border: 2px solid var(--a-color);
  background-color: var(--color);
  padding: var(--spacing);
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.visible {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.visible ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing);
}

.visible a:hover {
  font-weight: bold;
  text-decoration: underline;
  color: #00bfd3;
  transition: 0.5s;
}

.visible img {
  width: 35px;
  height: auto;
}

.hidden {
  display: none;
}

@media (max-width: 700px) {
  .visible {
    display: none;
  }

  .hidden {
    width: 100%;
    display: flex;
  }

  .hidden ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .hidden img {
    width: 35px;
    height: auto;
  }
}
