@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --dl-color-one: #599bb0;
  --dl-color-two: #2b4a56;
  --dl-color-three: #232425;
  --dl-color-four: #222222;
  --dl-color-five: #ffffff;
  --dl-color-six: #dddddd;
  --dl-color-seven: #bbbbbb;
  --dl-color-eight: #666666;
  --dl-color-nine: #00bfd3;
  --dl-color-ten: #000000;
  --spacing: 20px;
  --small-spacing: 10px;
  --border-one: 2px solid #232425;
  --border-two: 2px dashed #2b4a56;
  --font-one: "Roboto", sans-serif;
  --font-two: "Kanit", sans-serif;
  --font-three: "Chivo", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--dl-color-one);
  background-image: url("https://www.transparenttextures.com/patterns/beige-paper.png");
  font-family: var(--font-three);
  color: var(--dl-color-five);
  border: var(--border-one);
}

/*SCROLLBAR*/

body::-webkit-scrollbar {
  width: var(--small-spacing);
  background-color: var(--dl-color-five);
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: var(--dl-color-five);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--dl-color-nine);
}

h1 {
  font-weight: 600;
  font-style: italic;
}

h2,
h3 {
  font-family: var(--font-one);
  text-transform: lowercase;
  text-align: center;
  letter-spacing: 2px;
  padding: var(--spacing);
}

#merch h2,
#music h2,
#tour h2,
#contest h2 {
  font-size: 55px;
  margin-top: var(--spacing);
  text-shadow: 2px 2px 0px var(--dl-color-two),
    2px -2px 0px var(--dl-color-two), -2px 2px 0px rgba(172, 204, 243),
    -2px -2px 0px rgba(172, 204, 243), 2px 0px 0px rgba(172, 204, 243),
    0px 2px 0px rgba(172, 204, 243), -2px 0px 0px rgba(172, 204, 243),
    0px -2px 0px rgba(172, 204, 243);
}

h3 {
  font-size: 20px;
}

ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
  font-family: var(--font-two);
  font-size: 20px;
  color: var(--dl-color-ten);
  text-transform: lowercase;
}

button {
  background-color: transparent;
  backdrop-filter: blur(8px);
  color: var(--dl-color-five);
  font-family: var(--font-two);
  text-transform: lowercase;
  height: 40px;
  width: 140px;
  border: 2px solid var(--dl-color-nine);
  font-size: 16px;
  cursor: pointer;
  transition: 0.5s;
}

button:hover {
  background-color: var(--dl-color-five);
  color: var(--dl-color-ten);
  border: none;
  font-weight: bolder;
}

/*HEADER*/

header {
  border: var(--border-one);
  background-color: var(--dl-color-five);
  padding: var(--spacing);
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
}

.visible {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.visible ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing);
}

.sections a:hover {
  font-weight: bold;
  text-decoration: underline;
  color: var(--dl-color-nine);
  transition: 0.5s;
}

.icons img {
  width: 35px;
  height: auto;
}

.icons img:hover {
  scale: 1.1;
}

.hidden {
  display: none;
}

/*MAIN*/

main {
  min-height: 100vh;
  border-bottom: var(--border-one);
}

#hero {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.video-desktop {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.video-mobile {
  display: none;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacing);
  padding: var(--spacing);
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 20px;
  z-index: 2;
}

.info h2 {
  font-size: 80px;
  color: transparent;
  -webkit-text-stroke: 2px var(--dl-color-five);
}

/*MERCH*/

#merch {
  min-height: 300vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacing);
  border-bottom: var(--border-one);
}

#merch > img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

#merch ul {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: 400px;
  padding: var(--spacing);
  gap: var(--spacing);
  margin-bottom: var(--spacing);
}

#merch li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--small-spacing);
  border: var(--border-two);
  background: linear-gradient(to top left, var(--dl-color-five) 0%, var(--dl-color-one) 100%);
  box-shadow: 5px 10px 8px var(--dl-color-eight);
}

#merch p {
  color: var(--dl-color-ten);
  text-align: center;
  letter-spacing: 1.5px;
}

#merch a {
  border-top: var(--border-two);
  border-bottom: var(--border-two);
}

#merch > ul > li > a > img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  transition: 0.5s;
}

#merch:hover ul > li > a > img:not(:hover) {
  filter: saturate(0);
  opacity: 40%;
}

/*MUSIC*/

#music {
  min-height: 200vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacing);
  border-bottom: var(--border-one);
}

.gallery {
  background: url("https://www.patternpictures.com/wp-content/uploads/Intense-blue-ocean-background-water-render-patternpictures-5522-1400x930.jpg");
  border: 2px solid red;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.gallery video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
}

.gallery:hover video:not(:hover) {
  filter: saturate(0);
  opacity: 20%;
}

.gallery > video:nth-child(1) {
  grid-row: 1/3;
}

.albums {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: var(--spacing);
  padding: var(--spacing);
  margin-bottom: var(--spacing);
}

.card {
  background-color: #000000;
  width: fit-content;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: var(--small-spacing);
  padding: var(--small-spacing);
  border: 2px solid white;
  box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px,
    rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px,
    rgba(240, 46, 170, 0.05) 25px 25px;
  animation: jello-vertical 0.9s both;
}

@keyframes jello-vertical {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  40% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  50% {
    -webkit-transform: scale3d(0.85, 1.15, 1);
    transform: scale3d(0.85, 1.15, 1);
  }
  65% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  75% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.album-information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--small-spacing);
}

.card img {
  width: 200px;
  height: auto;
  border: 2px solid white;
}

@media only screen and (max-width: 895px) {
  .albums {
    flex-wrap: wrap;
  }
}

/*TOUR*/

#tour {
  min-height: 200vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacing);
  border-bottom: var(--border-one);
}

#tour ol {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: var(--spacing);
  padding: var(--spacing);
  margin-bottom: var(--spacing);
}

#tour li {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  gap: var(--small-spacing);
  padding: var(--spacing);
  text-align: center;
}

#tour li:nth-child(even) {
  border: 2px dotted var(--dl-color-ten);
}

#tour h3 {
  width: 25%;
  height: auto;
}

#tour p {
  text-transform: lowercase;
  width: 25%;
  height: auto;
}

#tour a {
  width: 25%;
  height: auto;
}

#tour a:hover {
  background-color: var(--dl-color-five);
  color: var(--dl-color-one);
  font-weight: bold;
  border: none;
}

/*CONTEST*/

#contest {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacing);
  margin-bottom: var(--spacing);
}

.form {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing);
  gap: var(--spacing);
}

.form img {
  width: 50%;
  height: auto;
}

.form-information {
  background-color: var(--dl-color-ten);
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: var(--small-spacing);
  padding: var(--small-spacing);
  border: 2px solid var(--dl-color-five);
  box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px,
    rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px,
    rgba(240, 46, 170, 0.05) 25px 25px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: var(--spacing);
}

form > input,
form > select {
  font-family: var(--font-three);
  background-color: var(--dl-color-five);
  width: 100%;
  height: auto;
  border: none;
}

form > input[type="submit"] {
  background-color: var(--dl-color-nine);
  color: var(--dl-color-five);
}

/*FOOTER*/

footer {
  background-color: var(--dl-color-five);
  padding: var(--spacing);
  min-height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  gap: var(--small-spacing);
  flex-wrap: wrap;
  border-top: var(--border-one);
}

footer ul {
  width: fit-content;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: var(--small-spacing);
}

footer .information a::after {
  content: " | ";
}

footer .information a:hover {
  text-decoration: underline;
}

footer img {
  width: 35px;
  height: auto;
}

footer .social-media > li > a > img:hover {
  scale: 1.1;
}

footer p {
  color: var(--dl-color-ten);
  width: 100%;
  height: auto;
  text-align: center;
}

/*MAQUETACIÓN TABLET*/

@media only screen and (max-width: 768px) and (min-width: 375px) {
  .visible {
    display: none;
  }

  .hidden {
    width: 100%;
    display: flex;
  }

  .hidden ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .hidden img {
    width: 35px;
    height: auto;
  }

  .video-desktop {
    display: none;
  }

  .video-mobile {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: 1;
  }

  #tour .top {
    display: none;
  }

  #tour li {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    background-color: var(--dl-color-ten);
    color: var(--dl-color-five);
    animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    box-shadow: 1px -1px var(--dl-color-two),
      2px -2px var(--dl-color-two), 3px -3px var(--dl-color-two),
      4px -4px var(--dl-color-two), 5px -5px var(--dl-color-two),
      6px -6px var(--dl-color-two), 7px -7px var(--dl-color-two),
      8px -8px var(--dl-color-two);
  }

  #tour li:nth-child(even) {
    box-shadow: 1px -1px var(--dl-color-two),
      2px -2px var(--dl-color-two), 3px -3px var(--dl-color-two),
      4px -4px var(--dl-color-two), 5px -5px var(--dl-color-two),
      6px -6px var(--dl-color-two), 7px -7px var(--dl-color-two),
      8px -8px var(--dl-color-two);
  }

  @keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0);
      transform: scale(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: 1;
    }
  }

  #tour a {
    color: var(--dl-color-five);
    border: 1px solid var(--dl-color-five);
  }

  footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: center;
  }

  footer .information a::after {
    display: none;
  }
}

/*MAQUETACIÓN MÓVIL*/

@media only screen and (max-width: 375px) {
  .visible {
    display: none;
  }

  .hidden {
    width: 100%;
    display: flex;
  }

  .hidden ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .hidden img {
    width: 35px;
    height: auto;
  }

  .video-desktop {
    display: none;
  }

  .video-mobile {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: 1;
  }

  #tour .top {
    display: none;
  }

  #tour li {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    background-color: var(--dl-color-ten);
    color: var(--dl-color-five);
    animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    box-shadow: 1px -1px var(--dl-color-two),
      2px -2px var(--dl-color-two), 3px -3px var(--dl-color-two),
      4px -4px var(--dl-color-two), 5px -5px var(--dl-color-two),
      6px -6px var(--dl-color-two), 7px -7px var(--dl-color-two),
      8px -8px var(--dl-color-two);
  }

  #tour li:nth-child(even) {
    box-shadow: 1px -1px var(--dl-color-two),
      2px -2px var(--dl-color-two), 3px -3px var(--dl-color-two),
      4px -4px var(--dl-color-two), 5px -5px var(--dl-color-two),
      6px -6px var(--dl-color-two), 7px -7px var(--dl-color-two),
      8px -8px var(--dl-color-two);
  }

  @keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0);
      transform: scale(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: 1;
    }
  }

  #tour a {
    color: var(--dl-color-five);
    border: 1px solid var(--dl-color-five);
  }

  footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: center;
  }

  footer .information a::after {
    display: none;
  }
}
