@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --background-color: #599bb0;
  --color: #fefefe;
  --a-color: #000000;
  --border-color-img: #2b4a56;
  --spacing: 20px;
  --font-one: "Roboto", sans-serif;
  --font-two: "Kanit", sans-serif;
  --font-three: "Chivo", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background-color);
  background-image: url("https://www.transparenttextures.com/patterns/beige-paper.png");
  font-family: var(--font-three);
  color: var(--color);
}

h1 {
  font-weight: 800;
  font-style: italic;
}

h2,
h3 {
  font-family: var(--font-one);
  font-style: italic;
  font-weight: bold;
  text-transform: lowercase;
  text-align: center;
  letter-spacing: 2px;
  padding: var(--spacing);
}

h2 {
  font-size: 35px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  font-family: var(--font-two);
  font-size: 20px;
  color: var(--a-color);
  text-transform: lowercase;
}

button {
  background-color: var(--color);
  color: var(--a-color);
  font-family: var(--font-two);
  height: 50px;
  width: 150px;
  font-weight: bold;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
}

button:hover {
  background-color: transparent;
}

/*HEADER*/

header {
  border: 2px solid var(--a-color);
  background-color: var(--color);
  padding: var(--spacing);
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.visible {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.visible ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing);
}

.visible a:hover {
  font-weight: bold;
  text-decoration: underline;
  color: #00bfd3;
  transition: 0.5s;
}

.visible img {
  width: 35px;
  height: auto;
}

.hidden {
  display: none;
}

@media (max-width: 700px) {
  .visible {
    display: none;
  }

  .hidden {
    width: 100%;
    display: flex;
  }

  .hidden ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .hidden img {
    width: 35px;
    height: auto;
  }
}

/*MAIN*/

main {
  min-height: 100vh;
  border-bottom: 2px solid black;
}

#hero {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacing);
  padding: var(--spacing);
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 20px;
  z-index: 2;
}

/*MERCH*/

#merch {
  min-height: 200vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacing);
  border-bottom: 2px solid black;
}

#merch h2 {
  font-size: 80px;
}

#merch > img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

#merch ul {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: 360px;
  padding: var(--spacing);
  gap: var(--spacing);
}

#merch li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px dashed var(--border-color-img);
  background: linear-gradient(to top left, #c5e8ed 0%, #599bb0 100%);
  box-shadow: 5px 10px 8px #888888;
}

#merch h3,
#merch p {
  width: 100%;
  height: auto;
  color: var(--a-color);
}

#merch h3 {
  border-bottom: 2px dashed var(--border-color-img);
}

#merch p {
  border-top: 2px dashed var(--border-color-img);
}

#merch > ul > li > a > img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  transition: 0.5s;
}

#merch > ul > li > a > img:hover {
  width: 250px;
  height: 250px;
  object-fit: cover;
}

#merch:hover #merch img:not(:hover) {
  filter: saturate(0);
  opacity: 40%;
}

/*MUSIC*/

#music {
  min-height: 300vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacing);
  border-bottom: 2px solid black;
  position: relative;
  width: 100%;
  overflow: hidden;
}

#music > img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

#music article {
  border: 5px double black;
  padding: var(--spacing);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: var(--a-color);
  background-color: var(--color);
  gap: 10px;
  position: absolute;
  bottom: 90;
  width: 100%;
  height: auto;
}

#music article p {
  text-align: justify-all;
  padding: var(--spacing);
}